*{
    margin: 0;padding: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}
.container{
    background-color: blanchedalmond;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
h1{
    margin-left: 10vw;
}
img{
    height: 150px;
    margin-top: 10px;
    margin-left: 17vw;
}
.buttons{
    margin: 30px;
    display: inline-block;
}
#on{
    background-color: chartreuse;
    width: 80px;
    /* margin-left: 7vw; */
}
#off{
    background-color: rgb(89, 82, 180);
    width: 80px;
    margin-left: 25vw;

}
